{
  "parserOptions": {
    "ecmaVersion": 6,
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true
  },
  "globals": {
  },
  "rules": {
    "camelcase": 1,
    "eqeqeq": 0,
    "quotes": [ 2, "double" ],
    "valid-jsdoc": 0,
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "no-octal-escape": 0,
    "no-unused-vars": 0,
    "no-comma-dangle": 0
  }
}